<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineGo - {% block title %}Trang chủ{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="logo">CineGo</div>
    <div class="right-menu">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Tìm kiếm phim">
        </div>
        <button class="btn white-btn">Phim</button>

        <a href="{% url 'dang_nhap' %}">
            <button class="btn white-btn">Đăng nhập/Đăng ký</button>
        </a>
        
        <button class="btn orange-btn">Đặt vé ngay</button>
    </div>
  </header>

  <!-- Nội dung của từng trang sẽ thay đổi ở đây -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>
