{% extends 'base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
    <!-- Phim đang chiếu -->
    <section class="movies">
        <h2>Phim đang chiếu</h2>
        <div class="movie-container">
            {% for movie in now_showing %}
                <div class="movie-card">
                    <img src="{{ movie.anh_phim.url }}" alt="{{ movie.tieu_de }}">
                    <h3>{{ movie.tieu_de }}</h3>
                    <p>Ngày phát hành: {{ movie.ngay_phat_hanh |date:"d/m/Y"}}</p></br>
                    <button>Đặt vé</button>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Phim sắp chiếu -->
    <section class="movies">
        <h2>Phim sắp chiếu</h2>
        <div class="movie-list">
            {% for movie in coming_soon %}
                <div class="movie-card">
                    <img src="{{ movie.anh_phim.url }}" alt="{{ movie.tieu_de }}">
                    <h3>{{ movie.tieu_de }}</h3>
                    <p>Ngày phát hành: {{ movie.ngay_phat_hanh }}</p>
                    <button>Xem chi tiết</button>
                </div>
            {% empty %}
                <p>Không có phim nào sắp chiếu.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
