{% extends 'base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<div class="login-container">
    <h2 class="login-title">ĐĂNG NHẬP HỆ THỐNG</h2>
    <form method="POST" class="login-form">
        {% csrf_token %}
        
        <label>Email hoặc số điện thoại:</label>
        <input type="text" name="username" required>

        <label>Mật khẩu:</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn-login">Đăng nhập</button>
    </form>
</div>
{% endblock %}
